<body>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="my-3">
                <h1 class="text-center">Crear Factura</h1>
            </div>
            <div class="card p-2 d-flex justify-content-center">
                <form asp-action="Create" method="post" class="table-responsive">
                    <table class="table table-dark table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">NumeroFactura</th>
                                <th scope="col">PeriodoFacturacion</th>
                                <th scope="col">MontoFacturado</th>
                                <th scope="col">MontoPagado</th>
                                <th scope="col">Transaccion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col"><input type="text" name="NumeroFactura" id="NumeroFactura"></td>
                                <td scope="col"><input type="text" name="PeriodoFacturacion" id="PeriodoFacturacion"></td>
                                <td scope="col"><input type="text" name="MontoFacturado" id="MontoFacturado"></td>
                                <td scope="col"><input type="text" name="MontoPagado" id="MontoPagado"></td>
                                <td scope="col"><input type="number" name="TransaccionId" id="TransaccionId"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a class="btn btn-dark" asp-area="" asp-controller="Facturas" asp-action="Index">Volver</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>